.container {
    margin-top: 20px;
    width: 60%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.container h1 {
    display: flex;
    padding: 20px 0;
    margin: 0;
    width: 100%;

    height: 40px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
}

.brief {
    width: 80%;
    padding: 10px;
}

