.container {
    margin-top: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 350px;
    min-height: 200px;
    max-height: 700px;
    padding-bottom: 30px;
    overflow-y: auto;

}

.container h1 {
    margin: 0;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3d6c;
    text-align: center;
    font-weight: 500;
}

.container p {
    margin-top: 30px;
    text-align: center;
}

.container > form {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container input {
    height: 50px;
    font-size: 1.0em;
    margin-bottom: 0;
}

.container button {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 1.1em;
    border: none;
}