.container {
    margin-top: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 350px;
    min-height: 300px;
    max-height: 700px;
    padding-bottom: 30px;
    overflow-y: auto;

}

.container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 60px;
    margin: 0;
    background-color: #3d3d6c;
}

.container p {
    padding: 30px;
}