.addDataContainer {
    margin-top: 30px;
    background-color: white;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 650px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 10px;
}

.addDataContainer h1 {
    margin-top: 0;
    background-color: blue;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.addDataContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addDataContainer form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
