.completedRunsContainer {
    padding: 0;
    margin: 0;
    height: 100%;
}

.completedRunsContainer h1 {
    margin: 0;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completedRunsListContainer {
    padding: 20px;

}

.completedRunItem {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px;
    max-width: 500px;
    align-items: center;
    border: 1px solid black;
}

.completedRunItem button {
    height: 40px;
}

.completedRunItem div:first-of-type div {
    display: flex;
    gap: 10px;
}


