.completedRunsContainer {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    background-color: white;
    border: 1px solid black;
    overflow-y: auto;
}

.completedRunsContainer h1 {
    margin: 0;
    height: 60px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completedRunsListContainer {
    padding: 20px;

}

.completedRunItem {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px;
    max-width: 500px;
    align-items: center;
    border: 1px solid black;
}

.completedRunItem button {
    height: 40px;
}

.completedRunItem div:first-of-type div {
    display: flex;
    gap: 10px;
}

.parameterWidow {
    position: absolute;
    top: 50px;
    background-color: white;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid black;
}

.parameterWidow div:first-of-type {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.parameterWidow div:first-of-type button {
    height: 40px;
}

.parameterWidow div:last-of-type {
    padding: 10px;
}

