.container {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 70%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 3px solid white;

}

.content {
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.modelContainer {
    text-align: left;
}

a {
    text-decoration: none;
}

input, select {
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    /* border: none; */
}

label {
    text-align: center;
    display: inline-block;
    width: 200px;
}

.inputContainer {
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}


.formContainer {
    /*flex: 1;*/
    box-sizing: border-box;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.resultContainer {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 2;
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

.resultContainer button {
    width: 110px;
    height: 40px;
    margin-right: 10px;
    font-size: 0.9em;
}


.resultContainer button:nth-of-type(1) {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
}

.resultContainer button:nth-of-type(2) {
    background-color: rgb(27, 222, 27);
    color: white;
    border: none;
    border-radius: 20px;

}

.outputContainer {

    margin: 20px;
    flex-direction: column;
    height: 600px;
    min-width: 200px;
    color: white;
    width: 90%;
    background-color: rgb(39, 37, 37);
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

.clearButton {
    width: 100px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.runButtonContainer {
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.runButton {
    /*background-color: #26cb26;*/
    background-color: black;
    color: white;
    border: none;
    font-size: 22px;
    /*width: 120px;*/
    width: 100%;
    height: 50px;
    /*padding: 10px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.runButton:hover {
    background-color: #4949ff;
    color: white;
}