.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}


.content {
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}