.container {
    width: 100%;
    height: 85vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

.activeRunItem {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 15px;
    font-size: 1.1em;
    width: 90%;
    max-width: 500px;
    justify-content: center;
}

.runInformation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.runInformation div {
    display: flex;
    gap: 20px;
}
.runInformation p {
    margin: 0;
}

.actionButtons {
    display: flex;
    gap: 10px;
}

.actionButtons button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

.actionButtons button:first-of-type {
    background-color: #0fdc0f;
}

.actionButtons button:last-of-type {
    background-color: orangered;
}


.outputWindow {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 2;
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

.outputWindow button {
    width: 110px;
    height: 40px;
    margin-right: 10px;
    font-size: 0.9em;
}



.outputWindow button:nth-of-type(1) {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;

}



.outputWindow button:nth-of-type(2) {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
}


.outputContainer {

    margin: 20px;
    flex-direction: column;
    height: 500px;
    min-width: 200px;
    color: white;
    width: 90%;
    background-color: rgb(39, 37, 37);
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

.activeRunListWindow h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}

.noRunContainer {
    font-size: 1.5em;
    margin-top: 100px;
    text-align: center;
}

.runContainer {

}

@media screen and (max-width: 700px) {
    .activeRunItem {
        flex-direction: column;
        width: 95%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px;
    }
}

