.container {
    margin-top: 22px;
    width: 90%;
    height: 85vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #f3cd96;
    padding: 20px;
    box-sizing: border-box;
}

.activeRunItem {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    color: black;
    display: flex;
    gap: 20px;
    align-items: center;
}

.activeRunItem div {
    display: flex;
    gap: 40px;
}

.actionButtons button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

.actionButtons button:first-of-type {
    background-color: #0fdc0f;
}

.actionButtons button:last-of-type {
    background-color: orangered;
}


.outputWindow {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 2;
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

.outputWindow button {
    width: 110px;
    height: 40px;
    margin-right: 10px;
    font-size: 0.9em;
}


.outputWindow button:nth-of-type(1) {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
}

.outputWindow button:nth-of-type(2) {
    background-color: rgb(27, 222, 27);
    color: white;
    border: none;
    border-radius: 20px;

}

.outputContainer {

    margin: 20px;
    flex-direction: column;
    height: 600px;
    min-width: 200px;
    color: white;
    width: 90%;
    background-color: rgb(39, 37, 37);
    overflow-y: scroll;
    overflow-x: scroll;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 5px;
    box-sizing: border-box;
}

