.container {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}

.modelSelector {
    height: 50px;
    padding: 10px;
    text-align: start;
    width: 30%;
    min-width: 150px;
    font-size: 16px;
}

.searchButton {
    background-color: inherit;
    margin-left: 10px;
    width: 60px;
    height: 50px;
    font-size: 16px;
    border: none;
}

.filterButton {
    background-color: inherit;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    border: none;
}

.searchResultContainer {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
    min-width: 350px;
    overflow-x: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1600px;
}

table th {
    margin: 0;
    font-size: 1rem;
    min-width: 100px;
    padding: 10px;
    border: 1px solid black;
    color: red;
}

td {
    height: 30px;
    border: 1px solid black;
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 300;
    overflow-wrap: break-word;
}

/* Filter container css */
.filterContainer {
    padding-bottom: 20px;
    margin-right: 10px;
    left: 15%;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    height: 50%;
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.filterContainer div:first-of-type {
    display: flex;
    direction: row;
    width: 100%;
    height: 40px;
    background-color: black;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filterContainer div:first-of-type p {
    margin-left: 20px;
    font-size: 0.9rem;
    border: none;
    color: white;
}

.filterContainer div:first-of-type button {
    display: inline;
    padding: 10px;
    font-size: 1.02rem;
    background-color: inherit;
    border: none;
    color: white;
}

.filterContainer p {
    font-size: 14px;
    text-align: center;
}

.filterContainer label {
    width: 30px;
    max-width: 100px;
    margin-right: 10px;
}

.filterContainer select {
    width: 80px;
    height: 30px;
}

.filterContainer input {
    width: 80px;
    padding-left: 5px;
    height: 25px;
    text-align: start;

}

.filterActionButtons {
    display: flex;
    direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.filterActionButtons button {
    width: 100px;
    height: 30px;
}

.filterActionButtons button:nth-last-child(2) {
    border: none;
    background-color: rgb(5,5,234);
    color: white;
}

.filterActionButtons button:last-of-type {
    border: none;
    background-color: rgb(234, 5, 5);
    color: white;
}

