.container {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    height: calc(100vh - 72px);
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    overflow-y: hidden;
    background-color: wheat;
}

.banner {
    margin-top: 5%;
    width: 40%;
    min-width: 300px;
    text-align: start;
    margin-left: 30px;
    font-size: clamp(1.2rem, 5vw, 3rem);
}

.banner h1 {
    font-size: 1.3em;
    font-weight: 300;
}

.banner p {
    font-weight: 300;
}

.content {
    text-align: justify;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: red;
}

.models {
    height: 500px;
    background-color: red;
    color: blue;
}


.data {
    height: 500px;
    background-color: blue;
}

.buttonContainer {
    display: flex;
    margin-left: 30px;
    gap: 10px;
    color: white;
    font-weight: 200;
}

.buttonContainer button {
    max-width: 300px;
    min-width: 250px;
    height: 50px;
    font-size: 1.2em;
    padding: 5px;
    background-color: inherit;
    color: inherit;

}

.buttonContainer a {
    color: black;
    text-decoration: none;
}


.modelsButton {
    background-color: white;
}

.modelsButton:hover {
    background-color: #55cf55;
    color: white;

}

.datasetButton {
    background-color: white;
}

.datasetButton:hover {
    background-color: #3434ec;
    color: white;
}

@media screen and (max-width: 578px) {
    .buttonContainer {
        width: 280px;
        display: flex;
        flex-direction: column;
    }

    .buttonContainer button {
        width: 280px;
    }
}