.container {
    color: black;
    width: 100%;
    flex: 1;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    overflow-y: hidden;
    background: linear-gradient(135deg, #1e1b4b, #3730a3, #4f46e5, #06b6d4);
}

.banner {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 20px;
    width: 70%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    text-align: start;
}

.banner h1 {
    font-size: clamp(1.2rem, 5vw, 3rem);
    font-weight: 300;
}

.banner p {
    font-weight: 300;
}

.buttonContainer {
    display: flex;
    margin-left: 30px;
    gap: 30px;
    color: white;
    font-weight: 200;
}

.buttonContainer button {
    max-width: 300px;
    min-width: 250px;
    font-size: 1.2em;
    padding: 10px;
    color: inherit;
}

.buttonContainer a {
    color: white;
    text-decoration: none;
}


.modelsButton {
    background-color: #19e319;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    overflow: hidden;
}

.modelsButton:hover {
    background-color: #68ff68;
    color: white;

}

.datasetButton {
    background-color: #3b3be1;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    overflow: hidden;
}

.datasetButton:hover {
    background-color: #0707df;
    color: white;
}

@media screen and (max-width: 578px) {
    .buttonContainer {
        width: 280px;
        display: flex;
        flex-direction: column;
    }

    .buttonContainer button {
        width: 280px;
    }
}