.container {
    display: flex;
    color: white;
    width: 100%;
    height: calc(100vh - 72px);
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    background-image: url("../assets/convection.jpg");
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1.2rem, 5vw, 3rem);
    
}

.banner p {
    color: brown;
    font-weight: 300;
}

.content {
    text-align: justify;
    width: 0%;
    margin-right: auto;
    margin-left: auto;
}