.container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: calc(100vh - 72px);
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    background-image: url("../assets/convection.jpg");
    overflow-y: hidden;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.banner {
    width: 100%;
    height: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1.2rem, 5vw, 3rem);
    /*background-image: url("../assets/convection.jpg");*/
    
}

.banner p {
    /*color: brown;*/
    font-weight: 300;
}

.content {
    text-align: justify;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: red;
}

.models {
    height: 500px;
    background-color: red;
    color: blue;
}

.data {
    height: 500px;
    background-color: blue;
}

.buttonContainer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
    color: white;
}

.buttonContainer button {
    width: 250px;
    height: 50px;
    font-size: 1.2em;
    padding: 5px;

}

.buttonContainer a {
    color: white;
    text-decoration: none;
}

.buttonContainer button:first-of-type {

    background-color: #55cf55;
}

.buttonContainer button:last-of-type {
    background-color: #3434ec;
}