.container {
    margin-top: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 350px;
    min-height: 500px;
    max-height: 700px;
    padding-bottom: 30px;
    overflow-y: auto;

}

h1 {
    text-align: center;
    font-weight: 500;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.loginContainer form > * {
    margin: 0;
    display: block;
}
.loginContainer form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.loginContainer label {
    text-align: start;
    font-weight: 500;
    margin-bottom: 5px;
}

.loginContainer input {
    text-align: start;
    margin-bottom: 30px;
}

.loginContainer button {
    /* width: 200px; */
    height: 50px;
    border-radius: 30px;
    background-color: rgba(12, 235, 183, 0.8);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-align: center;
}