.container {
    margin-top: 10px;
    text-align: center;
    width: 70%;
    height: 85vh;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px;*/
    color: white;
    background-color: #dc5151;
    display: flex;
    flex-direction: row;
    padding-top: 0;

}

.sidebar {
    width: 30%;
    background-color: white;
    color: black;
}

.sidebar ul {
    list-style-type: none;
}

.main {
    /*padding: 20px;*/
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.container h1 {
    width: 100%;
    padding:0;
    background-color: #3d3d6c;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
}



.content {
    text-align: justify;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.modelsContainer {
    flex: 1;
    /*padding: 20px;*/
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 20px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.modelItem {
    background-color: white;
    text-align: left;
    margin: 10px;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}


.modelItem h2 {
    margin: 0;
    font-size: 1.4em;
    font-weight: 400;
    background-color: black;
    padding: 10px;
    color: white;
}

.modelItem div {
    padding: 10px;
}


.buttonContainer {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
}

.buttonContainer button:nth-of-type(1) {
    background-color: #28af67;
}

.buttonContainer button:nth-of-type(2) {
    background-color: #3c3cd5;
}

.modelItem button {
    width: 125px;
    height: 40px;
    background-color: black;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.modelItem button a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}