.container {
    margin-top: 20px;
    width: 70%;
    height: 85vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid black;
}

.container h1 {
    display: flex;
    height: 60px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.settingsContainer {
    margin: 0 auto;
}

.settingItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.settingItem label {
    display: inline-block;
    width: 300px;
}

.settingItem input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

