.container {
    margin-top: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 350px;
    min-height: 500px;
    max-height: 700px;
    padding-bottom: 30px;
    overflow-y: auto;

}

.container h1 {
    margin: 0;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3d6c;
    text-align: center;
    font-weight: 500;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.signupContainer form > * {
    margin: 0;
    display: block;
}

.signupContainer form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.signupContainer label {
    text-align: start;
    font-weight: 500;
    margin-bottom: 5px;
}

.signupContainer input {
    text-align: start;
    margin-bottom: 30px;
}

.signupContainer button {
    /* width: 200px; */
    height: 50px;
    border-radius: 30px;
    background-color: rgba(12, 116, 235, 0.8);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-align: center;
}

