.container {
    margin-top: 22px;
    width: 90%;
    height: 85vh;
    min-height: 200px;
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #f3cd96;
}

.sidebar {
    background-color: white;
    width: 15%;
    min-width: 150px;
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.sidebar ul li {
    text-align: center;
    width: 100px;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.main {
    padding: 16px;
    width: 80%;
    height: 90%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.card {
    background-color: #30c1d1;
    color: white;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card p {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}


.userCard {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.userCard p {
    max-width: 150px;
    text-overflow: ellipsis;
    word-break: break-all;
}

.mainContainer {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chartAndRecentContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chartContainer {
    flex: 3;
    margin-top: 40px;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recentContainer {
    flex: 2;
    align-items: center;
    justify-content: center;
}

.recentContainer > p {
    text-align: center;
    font-weight: 500;

}

.recentCardContainer {
    padding: 5px;
    height: 400px;
    overflow-y: auto;
}

.recentCard {
    border: 1px solid black;
    font-weight: 300;
    font-size: 14px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recentCard div {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.recentCard p {
    padding: 5px;
    margin: 5px;
    display: inline;
}