.popUpContainer {
    position: fixed;
    bottom: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    height: 50px;
    background-color: #72d322;
    animation: popUpAnimation 3s ease-out forwards;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.popUpContainer p {
    text-align: center;
    color: white;
    font-size: 1.1em;
}

@keyframes popUpAnimation {
    0% {opacity: 100%}
    100% {opacity: 100%; display: none }
}