body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: rgba(245,222,179,0.1);
    /*background-color: white;*/
    overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

#navbar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background:  black;
  box-sizing: border-box;
    /*background-color: red;*/
}

#navbar h2 {
    margin-left: 100px;
    color: white;
    font-weight: 400;
}

#navbar ul {
  height: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  margin-right: 5%;
  align-content: start;
}

#navbar li {
  color: white;
  background-color: black;
  margin: 10px;
  font-size: 1rem;
  padding: 5px;
}

#navbar li:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

#navbar li.active {
  text-decoration: underline;
  text-decoration-color: red;
  color: white;
}

#navbar a {
  color: inherit;
  text-decoration: none;
}

#navbar button {
  text-decoration: none;
  border: none;
}


#hamburgerNavbar {
  display: none;
}

.menuItems {
  position: fixed;
  top: 70px;
  right: 0;
  height: 100%;
  max-width: 200px;
  background-color: white;
  color: white;
  z-index: 1000;
  border-left: 1px solid black;
}

.menuItems > div {
    background-color: black;
}

.menuItems ul {
    padding: 0;
    margin: 0;
}

.menuItems li {
    text-align: start;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  border-bottom: 1px solid black;
    color: black;
    font-size: 14px;
}

.menuItems button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}


#hamburgerSidebar {
  font-size: 14px;
  position: fixed;
  top: 70px;
  right: 0;
  height: 100%;
  max-width: 300px;
  background-color: white;
  z-index: 1000;
}

#hamburgerSidebar ul {
  padding: 0;
}

#hamburgerSidebar li {
  width: 100%;
  height: 30px;
  background-color: white;
  color: black;
  text-align: start;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

#hamburgerSidebar a {
  text-decoration: none;
  color: inherit;
}


.opened {
  display: block;
  animation: drawerOpenAnimation 0.5s ease-out forwards;
}

.closed {
  animation: drawerCloseAnimation 0.5s ease forwards;
}

@keyframes drawerOpenAnimation {
  0% {width: 0%;}
  100% {width: 50%;}
}

@keyframes drawerCloseAnimation {
  0% {width: 50%;}
  100% {width: 0%; display: none;}
}


@media screen and (max-width: 550px) {
  
  #navbar {
    display: none;

  }

  #hamburgerNavbar {
    padding-right: 20px;
    align-items: center;
    background-color: black;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
  }
}

